.st{
    width: 5rem;
    height: 40rem;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-left: 2rem;
    
}
.ss a{
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;

}
.cc{
    margin-left: 11rem;
    width:70rem;
    height:50px;
}
.br{
    border-top: 5px solid black;
}
.bg{
    background-color:#232F3E !important;
}
.bg ul{
    width: 100%;
    overflow-x: auto;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
}
.bg ul li a{
    color:white;
    display: inline-block;
}
.bg ul li a:not(:first-child){
    margin-left: 28px;
}
.md{
    margin-right:180px;
    margin-left: 29px;

}

    .tt{
        z-index: inherit;
        background-color: #232F3E;
    }
/* //////////////////////////////////////search//////////////////////////////////////// */
.sch{
    width:40rem ;
}
.bn{
    position: relative;
    right: 7.8px;
    background-color: white;

}

.bn:hover{
    color: black !important;
}

.schr  {
    width:30rem  
    ;
    margin-right: 5px;
}
.j2{
    justify-content: center !important;
    align-items: center !important;
}
.sz{
    
     right: 0rem;
}
.tn{
    text-align: left;
    margin-top: 5px;
    text-shadow: 3px;
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.aa{
    margin-right: 1rem;
}
.lng{
    border: 2px solid white;
    
}
.nbn{
    width: 50% !important;
    height: 50% !important;
}
@media(max-width:992px){
    .abc{
        width: 35rem;
        
    }
}